default.properties
build.properties
local.properties
bin/
gen/
scripts/resources/*.diff
obj/
epubs/
mappings/
READY/
.classpath
.settings
*.so
*~

# Android Studio
#.idea Just in case

# Gradle files
.gradle
build/

# Windows VIM
*.swp
