** Записать изменения в ChangeLog
** ZLAndroidActivity -- переделать вращение (BUG с красной кнопкой)
** Добавить поддержку custom каталогов -- как в Aldiko
DONE по каталогам (кроме самого верхнего) невозможно перемещаться шариком
DONE Refill Account: поменять надписи: в верхней строчке только "Refill account", в нижней -- "currently: СУММА"
** Объединить общие части двух Base64EncodedImage
DONE Пункт Refill Account должен появляться только ПОСЛЕ ТОГО, как появились все остальные пункты каталога
DONE Может, переместить пункт "Search" наверх списка? (?)
DONE Синхронизировать ресурсы (русские, французские и китайские)
DONE Запускаю программу, открываю библиотеку, иду в каталог litres. Пока он еще не загрузился (нотификация с цифрой 1 горит) нажимаю Esc. Снова открываю библиотеку, получаю черный экран.
DONE Исследовать поиск на litres (Корчевский - находится, лукьяненко, громов - нет)
DONE В списке "моих книг" у книги "Ключ к раздельному питанию" показывается annotation от другой книги
DONE регистрация новых пользователей (use default e-mail) -- в диалоге authentication
	** улучшить внешний вид для горизонтальной ориентации? (может быть сделать Activity вместо Dialog'а)
DONE Network library: Объединять книги по сериям
	DONE В качестве иконки серии показывать иконку первой книги из серии
	DONE Не объединять в серии по одной книжке
		DONE создавать серию только после вставки второй книги (удаляя первую книгу и заново вставляя ее в созданную серию)
		DELAYED для книжек в середине списка это просто, а если появляется книжка, которая в конце списка и единственная в серии -- можно задержать ее обработку до поступления новых сведений.
	** в сериях книги нужно сортировать по индексу
		NP: а где это происходит???
DONE изменить вид библиотеки -- вместо дерева -- последовательные view без сдвига вправо (как в маркете)
	DONE сделать пункт Search в дереве
	DONE при нажатии на кнопку 'Esc' -- возвращаться к предыдущему view + прерывать загрузку, если она еще идет;
		DONE прерывание вручную умирает => загружать заново после прерывания
	DONE сделать действия в меню (заполнение через NetworkTreeActions)
		DONE логика reload: пункт в контекстном меню не нужен; нужен пункт в глобальном меню (для текущего открытого каталога)
		DONE при повторном открытии reload должен происходить при условии, что рошло 15 минут с последней загрузки
		DONE пополнение счета всегда, когда мы внутри litres
	DONE отдельные пункты
		DONE для "моих книжек"
		DONE для "поплнение счета"
		DONE делать signIn при попытке открыть эти пункты
	DONE сделать анимированный Title при загрузке
	DONE убрать Notification при загрузке каталогов / при поиске
DONE вызывать invalidateChildren, если добавились новые элементы для AuthorTree и SeriesTree
DONE при загрузке основного каталога litres: из-за ожидания сети внутри synchronized-метода signIn зависает UI-ный поток
** каталог должен иметь не 2 состояния (загружен/не загружен), а загружен полностью/не полностью/не загружен:
   в случае загрузки "не полностью" при повторном открытии продолжать загрузку с точки, где прервались (для тех каталогов, что поделены на куски по 20 книг)
** 3 иконки в верхнем-правом углу для книжек
** Сделать еще пункты "Новинки" и "Популярные книги" -- собирая книги со всех сайтов (?)
** Сделать поддержку каталогов без main-link'а (только для поиска) -- например ebooksearch.webfactional.com
** Загрузка не из xml, а из OPDS-каталога с расширениями
	** сделать DTD для xml-ей, как в OPDS, вместо существующего
	** перенести xml на сервер
** пополнение счета в litres с помощью sms
	** сделать как "подкаталог" для элемента "пополнить счет"
** восставление пароля (use default e-mail)
** Focus в Authentication dialog
** сделать отдельную ветку (?) для скачанных samples
** (?) удалять sample при покупке/скачивании полного варианта
** Authentication на других сайтах
** Просмотр пользовательских рецензий на litres
** Добавление своих рецензий на litres

------------------------------

* Убирать notification'ы для тех книжек, файлы которых были удалены

библиотека:
*	иконки
*	в отдельный процесс
*	сделать BookInfoActivity
* возможность перечитать из файла метаинформацию для отдельной книги

BUG: Почему в SearchActivity нигде не вызывается метод onFailure()????

------------------------------

DONE нарисовать иконку (скопирована иконка ic_menu_networksearch.png)
	DELAYED (NP) нарисовать правильную иконку

NP улучшить определение размеров иконок

DONE асинхронная загрузка каталогов
DONE постепенная асинхронная загрузка каталогов
DONE нормальная архитектура для асинхронной загрузки каталогов
DELAYED асинхронная работа с сетью

DONE кэширование картинок
	DONE "протухание" кэша
	DELAYED чистить кэш при старте программы, а не только при открытии изображения?

DELAYED что делать, когда мало памяти???
	** можно удалять некоторые загруженные подкаталоги из памяти, когда вызывается метод Activity.onLowMemory(); какие?
		*** закрытые
		*** самые редко используемые... какой порог удаления?
		*** все кроме текущего... как определить текущий?

-----------------------------

другое:
DONE layout для китайских текстов
* поддержка hufdic в mobipocket
