
NP: оповещение об изменениях в namespace'ах происходит после того,
    как был обработан тег, объявляющий эти namespace'ы... Нужно сделать:
    1) вызов namespaceMapChangedHandler перед вызовом startElementHandler
    2) вызов namespaceMapChangedHandler после вызова endElementHandler
    3) вызов namespaceMapChangedHandler для пустых тегов <tagname />

** Записать изменения в ChangeLog

DONE Network library: Объединять книги по сериям
	** в сериях книги нужно сортировать по индексу
		NP: а где это происходит???

DONE Возможность открывать локальные файлы из всяких файл-менеджеров
DONE На этой странице есть ссылка на epub-файл "для ПК". http://www.zone4iphone.ru/index.php?p_id=7&b_id=18413
     Проверить скачивание книги браузером и возможность чтения из папки, куда файл был скачан.
	DONE добавлять в библиотеку (сделать таблицу добавленных вручную книг)

------------------------------

** пополнение счета в litres с помощью sms
	** сделать как "подкаталог" для элемента "пополнить счет"

** восстановление пароля (use default e-mail)
** сделать отдельную ветку (?) для скачанных samples
** (?) удалять sample при покупке/скачивании полного варианта
** Authentication на других сайтах
** Просмотр пользовательских рецензий на litres
** Добавление своих рецензий на litres
** Сделать поддержку каталогов без main-link'а (только для поиска) -- например ebooksearch.webfactional.com
** Сделать еще пункты "Новинки" и "Популярные книги" -- собирая книги со всех сайтов (?)

------------------------------

* Убирать notification'ы для тех книжек, файлы которых были удалены

библиотека:
*	иконки
*	в отдельный процесс
*	сделать BookInfoActivity
* возможность перечитать из файла метаинформацию для отдельной книги

------------------------------

DELAYED асинхронная работа с сетью

DONE кэширование картинок
	DONE "протухание" кэша
	DELAYED чистить кэш при старте программы, а не только при открытии изображения?

DELAYED что делать, когда мало памяти???
	** можно удалять некоторые загруженные подкаталоги из памяти, когда вызывается метод Activity.onLowMemory(); какие?
		*** закрытые
		*** самые редко используемые... какой порог удаления?
		*** все кроме текущего... как определить текущий?

-----------------------------

другое:
DONE layout для китайских текстов
* поддержка hufdic в mobipocket
