DONE Shucang catalog -> второй пункт сверху -> открываем => item'ы книг без названий и аторов
DONE И после загрузки в notification для первого файла из этого списка -- название файла
DONE И в библиотеке тоже название файла, вместо названия книги
DONE При первом открытии network library activity около 2 секунд показывается черный экран. Должен быть wait message.
** Когда сети нет появляется сообщение "somthing goes wrong". Должно быть что-то более понятное.
** Синхронизировать ресурсы (русские и французские)

DONE http://groups.google.com/group/fbreader/browse_thread/thread/a439a8994a88a636

DONE нарисовать иконку (скопирована иконка ic_menu_networksearch.png)
	DELAYED (NP) нарисовать правильную иконку

NP улучшить определение размеров иконок
DELAYED сделать стартовые иконки прозрачными
	я попробовал, стало хуже
DONE чистить все Notification'ы при завершении NetworkLibrary / BookDownloadService
DONE CRASH: начать загрузку большого каталога --> Нажать кнопку "Home" --> Открыть FBReader --> Открыть библиотеку --> Развернуть каталог
	DONE добавлен CatalogDownloaderService
	DONE улучшена работа с Notification-ми

DONE переместить в главном меню наверх (вместо Settings)
DONE пункт меню "delete sample"
DONE BookDownloaderService - i18n
DONE указывать HTTP-agent = "FBReader/<version>(java)" -- номер версии смотреть, как в диалоге About
	DONE перенести User-Agent в connection.setRequestProperty();
DONE прятать Profile (прятать запрещенные каталоги)
DONE при щелчке на книжку - сделать default action, и о нем спрашивать.

DONE асинхронная загрузка каталогов
DONE постепенная асинхронная загрузка каталогов
DELAYED нормальная архитектура для асинхронной загрузки каталогов
DELAYED асинхронная работа с сетью
DONE использование rewriteUrl
	DONE link from a Book (reading mode) -- external
	DONE link from a Network Library -- external
	DONE link from a Network Library -- internal
		DONE book downloading
		DONE resume loading
		DONE start loading

DONE проверить, что при скаивании книг обрабатываются значения cleanURL()

DONE загрузка иконок

DONE отображение иконок
	DONE отображение Base64 иконок
	DONE отображение иконок родителей, если нет своих

DONE кэширование картинок
	DONE "протухание" кэша
	DELAYED чистить кэш при старте программы, а не только при открытии изображения?

DONE добавить Extra -- Book Title при скачивании книги, отображать Название книги вместо имени файла

DONE добавлять Tag и изменять Title для Demo-книжек
	DONE складывать в отдельный подкаталог Demos/
	DONE искать книги в этом каталоге (в Network Library)
	DONE в методе Book.readMetaInfo() -- проверять путь к файлу и дописывать...

DONE как быть, когда книга загружается по ссылке из другой книги: не видно notification'а
	DONE показывать всплывающий notification с текстом "загрузка началась"
	DONE "книжка уже загружается"

DONE при загрузке из браузера также показывать
	DONE "книжка уже загружается"

DONE при загрузке из библиотеки:
	DONE сделать disabled пункт контекстного меню "download"
	DONE писать вместо "download" текст "книга загружается..."
	DONE корректировать default action

DONE NetworkLibrary в отдельный процесс

*	может быть, улучшить отображение каталогов: при асинхронной загрузке вид "съезжает" при загрузке вышележащего каталога
	** оставлять на месте тот, на который последним нажимали (onClick или onCreateContextMenu)

DELAYED что делать, когда мало памяти???
	** можно удалять некоторые загруженные подкаталоги из памяти, когда вызывается метод Activity.onLowMemory(); какие?
		*** закрытые
		*** самые редко используемые... какой порог удаления?
		*** все кроме текущего... как определить текущий?

-----------------------------

*	litres
*	authentication

------------------------------
библиотека:
*	иконки
*	в отдельный процесс
* возможность перечитать из файла метаинформацию для отдельной книги

------------------------------
другое:
DONE layout для китайских текстов
* поддержка hufdic в mobipocket
