<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.zlibrary.ui.android.library">
	<application android:icon="@drawable/fbreader">
		<activity class=".ZLAndroidActivity" android:label="FBReaderJ">
			<intent-filter>
				<action android:value="android.intent.action.MAIN" />
				<category android:value="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
</manifest> 
